<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--old connection string-->
    <add name="MyConnString"
         connectionString="Data Source=RPAVLUSHCHENKO\SWEDENSERVER;Initial Catalog=FeelOfTravelDb;Integrated Security=True"/>
  </connectionStrings>
</configuration>